#h{
    background-color: rgb(255, 0, 76);
    align-items: center;
    justify-content: space-between;
    padding-left: 130;
       animation-name: pikachu1;
       border: 1px solid black;
       animation-duration: 3s;
       animation-iteration-count: infinite;
    }
     @keyframes pikachu1 {
       from{width:1105;}
       to{width:1105;}
       from{height:5;}
       to{height:5;}
       from{background-color:rgb(235, 236, 236);}
       to{background-color:rgba(98, 235, 216, 0.918);}
       
    
}